*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    border: none;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container{
    width: 400px;
    height: min-content;
    background-color: cornsilk;
    border-radius: 12px;
    padding: 28px;
}

.search-box{
    width: 100%;
    height:min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box input{
    width: 84%;
    font-size: 20px;
    text-transform: capitalize;
    color: black;
    background-color:rgba(0, 255, 255, 0.596);
    padding: 12px 16px;
    border-radius: 14px;
    cursor: pointer;
}

.search-box input::placeholder{
    color:black;
}

.search-box input:hover{
    background-color:white;
}

.search-box button{
    width: 45px;
    height: 45px;
    background-color: rgba(0, 255, 255, 0.596);
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
}

.search-box button:hover{
    color:white;
    background-color: black;
}

.weather-body{
    display:none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
}

.weather-body img{
    width: 60%;
}

.weather-box{
    margin-block: 20px;
    text-align: center;
}

.weather-box .temperature{
    font-size: 40px;
    font-weight: 700;
    position: relative;
}

.weather-box .temperature sup{
    font-size: 20px;
    position: absolute;
    font-weight: 400;
}

.weather-box .description{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.weather-details{
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.humidity, .wind{
    display:flex;
    align-items: center;
}

.humidity{
    margin-left: 20px;
}

.wind{
    margin-right: 20px;
}

.weather-details i{
    font-size: 34px;
}

.weather-details .text{
    margin-left: 9px;
    font-size: 14px;
}

.text span{
    font-size: 17px;
    font-weight: 600;
}

.location-not-found{
    margin-top:20px;
    display:none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.location-not-found h1{
    font-size: 20px;
    color:grey;
    margin-block-end: 15px;
}

.location-not-found img{
    width: 80%;
}

